# Address of the database server:
external_db_domain=localhost
external_db_is_read_only=false
external_db_access_is_protected=true

datastore_type=file
datastore=cdbproxy
datastore_delete_existing=false
datastore_truncate_existing=true
datastore_debug=true

useExternalStaticFiles=true
staticExternalFileLocation=/Users/mac002/www/ocmc/react
#staticExternalFileLocation=/Users/mac002/www/ocmc/admin
#staticExternalFileLocation=/Users/mac002/www/ocmc/db

# Normally we will not use SSL for the internal service
use_ssl=false
keystore=/Users/mac002/keystore

enable_cors=true
session_max_minutes=0

debug=true
logAllQueries=false
logQueriesWithNoMatches=true
createTestUsers=true
runningJUnitTests=false

