# Address of the database server:
external_db_domain=localhost
external_db_is_read_only=true
external_db_access_is_protected=true

datastore_type=file
datastore=cdbproxy
datastore_delete_existing=false
datastore_truncate_existing=false
datastore_debug=true

synch_enabled=false
synch_domain=159.203.171.113

synch_bolt_port=7687

useExternalStaticFiles=false
staticExternalFileLocation=/Users/mac002/www/react
#staticExternalFileLocation=/Users/mac002/www/ocmc/admin
#staticExternalFileLocation=/Users/mac002/www/ocmc/db

# Normally we will not use SSL for the internal service
use_ssl=false
keystore=/Users/mac002/keystore

enable_cors=true
session_max_minutes=0

debug=false
logAllQueries=false
logQueriesWithNoMatches=true
createTestUsers=true
runningJUnitTests=false

